@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.box1 {
    transform: rotate(5deg);
    animation: move1 2s linear forwards;
    animation-timeline: view();
    animation-range-start: entry 100%;
    animation-range-end: entry 200%;
    box-shadow: 0px 7px 10px 0px #4285F4;
}

.box2 {
    transform: rotate(10deg);
    animation: move2 2s linear forwards;
    animation-timeline: view();
    animation-range-start: entry 100%;
    animation-range-end: entry 200%;
    box-shadow: 0px 7px 10px 0px #FBBC04;
}

.box3 {
    transform: rotate(15deg);
    animation: move3 2s linear forwards;
    animation-timeline: view();
    animation-range-start: entry 100%;
    animation-range-end: entry 200%;
    box-shadow: 0px 7px 10px 0px #EA4335;
}

.box4 {
    transform: rotate(20deg);
    animation: move4 2s linear forwards;
    animation-timeline: view();
    animation-range-start: entry 100%;
    animation-range-end: entry 200%;
}

.box5 {
    transform: rotate(25deg);
    animation: move5 2s linear forwards;
    animation-timeline: view();
    animation-range-start: entry 100%;
    animation-range-end: entry 200%;
    box-shadow: 0px 7px 10px 0px #4285F4;
}

.box6 {
    transform: rotate(30deg);
    animation: move6 2s linear forwards;
    animation-timeline: view();
    animation-range-start: entry 100%;
    animation-range-end: entry 200%;
    box-shadow: 0px 7px 10px 0px #FBBC04;
}

.box7 {
    transform: rotate(35deg);
    animation: move7 2s linear forwards;
    animation-timeline: view();
    animation-range-start: entry 100%;
    animation-range-end: entry 200%;
    box-shadow: 0px 7px 10px 0px #EA4335;
}

.aboutUsTextBox {
    font-size: 10rem;
    font-weight: 800;
    font-family: 'Bebas Neue', sans-serif;
    animation: moveAboutUs linear forwards;
    animation-timeline: view();
    animation-range-start: entry 100%;
    animation-range-end: entry 300%;
}

.aboutUsTextBoxMobile {
    font-family: 'Bebas Neue', sans-serif;
}

.textUnderAboutUs {
    opacity: 0;
    animation: textAppear 2s forwards linear;
    animation-timeline: view();
    animation-range-start: entry 200%;
    animation-range-end: entry 500%;
}
.textUnderAboutUsMobile{
    display: flex;
    margin-top: 20px;
    max-width: 90%;
    font-size: 1.1rem;
}
.sliderMobile{
    height: 300px;
    width: 90%;
    max-width: 550px;
    overflow: hidden;
    border: 2px solid black;
}
@media (max-width: 512px) {
    .textUnderAboutUsMobile {
        font-size: 1.1rem;
        max-width: calc(100vw - 25px);
    }
    .sliderMobile{
        height: 250px;
        width: 90%;
        max-width:calc(100vw - 20px);
        overflow: hidden;
        border:2px solid black;
        margin: 0 auto;
    }
}

@keyframes move1 {
    from {
        transform: rotate(5deg) translate(0px, 0px);
    }

    to {
        transform: rotate(0deg) translate(-500px, -180px);
    }
}

@keyframes move2 {
    from {
        transform: rotate(10deg) translate(0px, 0px);
    }

    to {
        transform: rotate(0deg) translate(-333px, -120px);
    }
}

@keyframes move3 {
    from {
        transform: rotate(15deg) translate(0px, 0px);
    }

    to {
        transform: rotate(0deg) translate(-166px, -60px);
    }
}

@keyframes move4 {
    from {
        transform: rotate(20deg) translate(0px, 0px);
    }

    to {
        transform: rotate(0deg) translate(0px, 0px);
    }
}

@keyframes move5 {
    from {
        transform: rotate(25deg) translate(0px, 0px);
    }

    to {
        transform: rotate(0deg) translate(166px, 60px);
    }
}

@keyframes move6 {
    from {
        transform: rotate(30deg) translate(0px, 0px);
    }

    to {
        transform: rotate(0deg) translate(333px, 120px);
    }
}

@keyframes move7 {
    from {
        transform: rotate(35deg) translate(0px, 0px);
    }

    to {
        transform: rotate(0deg) translate(500px, 180px);
    }
}

@keyframes moveAboutUs {
    from {
        transform: translate(0px, 0px);
        font-size: 10rem;
        font-weight: 800;
    }

    to {
        transform: translate(-400px, 200px);
        font-size: 6rem;
        font-weight: 600;
        white-space: nowrap;
    }
}

@keyframes textAppear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}